body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fruit-img {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.fruits-cards {
  display: flex;
  justify-content: center;
  margin: 30px;

}

.fruit-card {
  width: 100px;
  height: 100px;
  border: 5px solid black;
}


